<table>
  	<% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
		<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
		<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>Edit</button></a></td>
		<td>
			<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>')">Del</button>
			</form>
		</td>
	</tr> 
  	<% } %>
</table>
<form name="fBusqueda" method="get" action="quizes">
	<input type="text" name="search"><input type="submit">
</form>
<hr>
<a href="/quizes/new"><button type="button">Add pregunta</button></a>